*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body{
	min-width: 1500px;
	min-height: 100px;
}
nav{
	position: sticky;
	padding: 5px;
}
nav li, .right-nav{
	display: inline-block;
	font-weight: bold;
	margin: 5px 10px;
}
#logo{
	margin: 10px 0px;
	margin-left: 100%;
}
.right-nav {
	float: right;
	margin-right: 10%;
}

.tuitt-button, .book-button, .apply-button {
	background-color: #c2195b;
	box-sizing: border-box;
	width: 150px;
	height: 50px;
	border-radius: 50px;
	border: none;
	color: white;
	font-weight: bold;
}
#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position-y: -250px;
}
.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 370px;
}
.container {
	float: right;
	width: 80%;
	text-align: right;
	color: white;
}
.title {
	font-weight: bold;
	font-size: 44px;
	width: 50%;
	margin-left: 35%;
}

.subtitle {
	width: 30%;
	margin: 2% 55%;
	font-size: 18px;
	font-weight: normal;
}
.apply-button {
	margin-right: 15%;
	width: 200px;
}
.title, .title-2 {
	font-family: 'Zilla Slab', serif;
}
.title-2 {
	padding: 50px 0 50px 0;
}
.intro {
	height: 300px;
	text-align: center;
}
.intro-description{
	text-align: justify;
	margin: 0px 14%;
	width: 68%;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
}
.prefooter-description {
	padding: 0px 20%;
}

.book-button {
	background-color: #336589;
	margin: 20px;
	font-weight: bold;
}

footer {
	text-align: center;
	padding: 0.7rem;
}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}